/*
	Main red color: #9D0B48 ;
*/

html 
{

}

body 
{
	background: #eee;
	padding-top: 100px;
}

a { color: #9D0B48 !important; }
a:active { color: #9D0B48; }
a:visited { color: #333; }
.flat { border-radius: 0px; }


/*
#	Navigasjon
*/

.navbar
{
	border-radius: 0px;
	border: 0px;
	background: #fff;
	border-bottom: 3px solid #9D0B48;
}

.navbar-brand
{
	height: 63px;
	width: 400px;
	padding: 0px;
	width: 250px;
	color: #fff;
}

.brand-logo
{
	max-width: 110px;
	padding: 10px;
	border-radius: 100px;
	float: left;
	margin-right: 9px;
}
.brand-logo-text
{
	float: left;
	line-height: 62px;
	color: #9D0B48;	
}
.navbar-nav { padding: 6px; }
.navbar-toggle
{
	width: 44px; height: 44px;
	border-radius: 100px;
}



.red-circle
{
	border: 2px solid;
	border-color: #9D0B48 !important;
	background: #DA1E60 !important;
	border-radius: 100px;
	padding: 5px !important;
	padding-right: 12px !important;
	padding-left: 12px !important;
	margin-top: 9px;
	margin-bottom: 9px;
	color: #fff !important;
}

.dropdown-menu
{
	background: #2743A0;
	color: #fff;
}
.dropdown-menu > li > a {
    display: block;
    padding: 8px 20px;
    color: #fff !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #DA1E60 ;
}
.dropdown-header { color: #fff; text-align: center; text-transform: uppercase; font-variant: small-caps; }
.navbar-default .navbar-nav > li > a {
    color: #2743A0;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #DA1E60;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #DA1E60;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff !important;
    background-color: #DA1E60;
    border-radius: 100px;
   	padding: 5px 20px;
   	margin-top: 9px;
	margin-bottom: 9px;
	border: 2px solid;
	border-color: #9D0B48 !important;

}
.open > .dropdown-menu {
    display: block;
    margin-top: 0px !important;
}
@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	    color: #fff;
	}

	.dropdown.open
	{
		background: #2743A0;
		color: #fff;
		border-radius: 100px;
	}
}
@media (min-width: 768px) {
	.navbar .nav > li > .dropdown-menu::before {
	    position: absolute;
	    top: -10px;
	    right: 10px;
	    display: inline-block;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #DA1E60;
	    border-left: 10px solid transparent;
	    content: '';
	}
}
.border-right
{
	border-right: 1px solid rgba(180, 180, 180, 0.2);
}

.registration-selection
{
	background: #fff;
	padding: 20px;
	border: 1px solid #ddd;
}

.registration-selection .selection-title 
{
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0px;

}

.registration-selection .selection-info 
{
	padding: 20px 0px 20px 0px;
}

.list-items
{
	overflow: hidden;
	margin-bottom: 30px;
}

.list-items .li-left
{
	float: left;
	width: 80px;
	max-width: 20%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: green;
	font-size: 2em;
}

.list-items .li-right
{
	float: left;
	max-width: 80%;
	min-height: 50px;
	padding: 5px;
	font-size: 18px;
}

.selection-action
{
	height: 50px;
	margin-top: 15px;
}

.btn
{
	border-radius: 0px;
}

.btn-primary
{
	color: #fff !important;
	background-color: #DA1E60;
	border-color: #DA1E60 ;
}
.btn-info, .btn-warning, .btn-danger
{
	color: #fff !important;
}

.btn-primary:hover
{
	color: #fff !important;
	background-color: #9D0B48;
	border-color: #DA1E60 ;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #9D0B48;
  border-color: #DA1E60;
}


/*
#	Standerd content containers
*/
.inner-container
{
	width: 100%;
	min-height: 233px;
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
	margin: 50px 0px;
}
.entry-title
{
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 15px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}






/*
-----------------------------------
#	Standard form som benyttes
#	på alle sider hvor det er nø-
#	dvendig. 
-----------------------------------
*/

.registration-from
{
	width: 100%;
	min-height: 333px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	*margin-top: 50px;
}

.form-title
{
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	text-align: left;
	font-size: 2em;
	border-bottom: 1px solid #eee;
}

label
{
	font-size: 15px;
	margin: 10px 0px;
}

.form-control
{
	border-radius: 0px;
	font-size: 14px;
}


/*
# Post css styling
*/
.post-container
{
	width: 100%;
	min-height: 233px;
	background: #fff;
	border: 1px solid #ddd;
	margin: 50px 0px;
}
.post-container .entry-title
{
	padding: 20px;
	margin-bottom: 0px;
}
.post-bar
{
	width: 100%;
	min-height: 114px;
	border: 1px solid rgba(180, 180, 180, 0.3);
	overflow: hidden;
	margin-bottom: 20px;
}
.post-bar-left
{
	width: 20%;
	float: left;
}
.post-bar-left img
{
	position: relative;
	width: 100%;
	min-height: 114px;
	height: 100%;
}
.post-bar-middle 
{
	width: 60%;
	padding: 10px;
	float: left;
}
.post-bar-right
{
	width: 20%;
	float: right;
}

.current_image img
{
	width: 100%;
}
.post-image img
{
	width: 100%;
	max-height: 400px; 
}

.post-content
{
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	font-family: verdana;
}

.post-controls
{
	border-top: 1px solid rgba(180, 180, 180, 0.3);
	min-height: 34px;
	padding: 10px 35px;
	overflow: hidden;
}

.post-controls a, .post-controls button, .post-controls button:hover
{
	color: #9D0B48;
	float: right;
	margin-left: 3px;
}

.post-controls .control-left
{
	float: left;
	margin-left: 3px;
}

/*
-----------------------------------
# Behandling av bakgrunn
# for sidene basert på
# class lagt til av js
-----------------------------------
*/

.reg-ops
{
	background: url(img/reg-ops.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.reg-kunde 
{
	background: url(img/reg-kunde.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.verify 
{
	background: url(img/verify.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}


/*
#	colors classes & classes
*/
.green { color: green; }
.red { color: red; }

.small-form { max-width: 400px; }
.medium-form { max-width: 555px; }
.large-form { max-width: 777px; }
.xl-form { max-width: 1300px;  }
.form-center { margin-right: auto; margin-left: auto; }
.text-center { text-align: center; width: 100%;  }
textarea { resize: vertical;  }

/*
#	feedback box
*/

.feedback
{
	position: fixed;
	left: 0; top: -60px;
	width: 100%; text-align: center;
	background: #9D0B48;
	padding: 20px;
	color: #fff;
}

@media (max-width: 767px){
	.feedback
	{
		position: fixed;
		left: 0; top: -60px;
		width: 100%; text-align: center;
		background: #9D0B48;
		padding: 20px;
		color: #fff;
	}
}

.sort-bar
{
	width: 100%;
	min-height: 50px;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	margin-top: 50px;
	line-height: 32px;
	font-weight: bold;
}